<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="libraries/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">

    <link href="libraries/fontawesome-free-5.10.1-web/css/all.min.css" rel="stylesheet">
    <script defer src="libraries/fontawesome-free-5.10.1-web/js/all.min.js"></script>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/checkbox.css">


    <!--load all styles -->


    <title>Hello, world!</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">&lt;Uni Logo&gt;</a>
        <span class="navbar-text">
            Course Viewer
        </span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <a class="navbar-brand">
                <i class="fas fa-user fa-lg navbar_icon"></i>
            </a>
            <a class="navbar-brand">
                <i class="fas fa-question-circle fa-lg navbar_icon"></i>
            </a>
            <%# <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> %>
        </div>
    </nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="vertical-container">

        <div class="container-fluid top_container">
            <div class="row top-row">
                <div class="avatar_wrapper">
                    <img src="images/avatar.png" style="max-width:100%;max-height:100%;">
                </div>
                <div class="top_row_middle_space">
                    <div id="user_name" class="display-4">
                        Victor Kuo
                    </div>
                    <h3 class="user_details">
                        3rd year
                    </h3>
                    <h4 class="user_details">
                        Engineering
                    </h4>
                </div>
                <div class="right_buttons_div">
                    <button type="button" class="btn btn-secondary right_buttons">Primary</button>
                    <button type="button" class="btn btn-secondary right_buttons">Primary</button>
                    <button type="button" class="btn btn-secondary right_buttons">Primary</button>
                </div>

            </div>
        </div>


        <div class="container-fluid bottom_container">
            <div class="row bottom_row">
                <div class="units_scroll">

                    <div class="card">
                        <div class="card-header">
                            <b>All Units</b>
                        </div>
                        <div class="card-body">
                            <div class="checkbox_container">
                                <ul class="ks-cboxtags">
                                    <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label
                                            for="checkboxOne">INFO1110</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>
                                    <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label
                                            for="checkboxOne">INFO1110</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>
                                    <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label
                                            for="checkboxOne">INFO1110</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>
                                    <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label
                                            for="checkboxOne">INFO1110</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>
                                    <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label
                                            for="checkboxOne">INFO1110</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>
                                    <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label
                                            for="checkboxOne">INFO1110</label></li>
                                    <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy" checked><label
                                            for="checkboxTwo">COMP3027</label></li>
                                    <li><input type="checkbox" id="checkboxThree" value="Rarity" checked><label
                                            for="checkboxThree">INFO1105</label></li>
                                    <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                            for="checkboxFour">INFO1113</label></li>



                                </ul>
                            </div>
                        </div>
                    </div>


                </div>


                <div id=graph_div>
                    <button onClick=full_screen() class="d-inline" style="position: absolute; z-index:10">Full
                        Screen</button>
                    <div id="cy" style="z-index: 1">

                    </div>

                </div>
            </div>
        </div>

    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="libraries/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="libraries/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="libraries/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <script src="libraries/axios.min.js"></script>

    <script src="libraries/cytoscape.min.js"></script>

    <script src="js/index.js"></script>
</body>

</html>