/* Show it is fixed to the top */
html, body {
    height: 100%;
    /* border: red solid 1px; */
}

body {
    /* min-height: 75rem; */
    padding-top: 56px; 
}

/* nav div svg {
    padding-left: 5px;
} */

.card {
    height: 100%;
    max-width: 220px;
}
.checkbox_container {
    /* max-height: 350px; */
    height: 100%;
}

.checkbox_container ul {
    overflow: scroll;
    margin: 0;
    max-height: 100%;
    height: 100%;
}
.checkbox_container ul input{
    display: none;
}
    
.navbar_icon {
    color: white
}

.container {
    display: flex; /* or inline-flex */
}


.vertical-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.bottom_container {
    /* background: rgb(233, 236, 239); */
    flex: 1;
}


.top-row {
    background: rgb(233, 236, 239);
    padding: 1rem;

    /* justify-content: flex-end; */
}

.avatar_wrapper {
    border-radius: 3rem;

    max-height: 150px;
    max-width: 150px;

    background: rgb(211, 211, 211);

    margin: 1rem;
    padding: 1rem;
}

.top_row_middle_space {
    /* background: rgb(214, 214, 214);  */
    flex-grow: 2;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
}

.right_buttons_div {
    /* background: rgb(194, 194, 194);  */
    flex-direction: column; 
    display: flex; 
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    flex-grow: 1;
    /* max-width: 25% */
    /* max-width: 250px; */
}

.right_buttons {
    margin: 5px;
    /* max-width: 250px; */
    min-width: 150px;
}





.bottom_row {
    /* border: 1px solid red; */
    /* background: rgb(212, 214, 216); */
    padding: 1rem;

    height: 100%;

    flex-wrap: nowrap;
}

.units_scroll {
    /* border: 2px solid red; */
    min-width: 200px;
    padding: 0 1em;
}

.card-body {
    padding: 0;
}

#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    /* background: rgb(230, 230, 230) */
    background: rgb(255, 255, 255);
    border: 3px solid gray;
    border-radius: 15px;
    /* padding: 5px; */

}

#graph_div {
    flex: 1;
    /* background: rgb(226, 137, 137); */
    position: relative;
}

.full_screen_graph {
    position: absolute !important; 
    top: 56px; 
    right: 0; 
    bottom: 0; 
    left: 0;
}





#user_name {
    font-family: 'Lexend Exa', sans-serif;
    margin-bottom: 0.7rem;
}

.user_details {
    font-family: 'Barlow', sans-serif;
    padding-left: 0.7rem;
    margin-bottom: 0rem;

}